body{
	margin: 0;
	
}

#topbar{
	background-color: #5DADE2;
	width:100%;
	height: 50px;
}

#logodiv{
	padding-top: 10px;
	float:left;
	margin-left: 50%;
}

#topmenudiv{
	float: right;
	margin-top: 10px;
}

#topmenudiv ul{
	margin-top: 8px;
	
}

#topmenudiv li{
	list-style: none;
	font-size:0.9em;
	font-family: arial;
	float: left;
	padding-right: 20px;
}

#topmenudiv li a{
	color:white;
	text-decoration: none;
}

#topmenudiv li a:hover{
	text-decoration: underline;;
}

a:hover {
	text-decoration: underline;
}
.formdiv{
	clear: both;
	width:400px;
	height: 500px;
	margin: auto;
	margin-top: 80px;
}